---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";

const objects: { path: string; type: string; uploadedAt: string }[] =
  await fetch(import.meta.env.PUBLIC_WORKER_ENDPOINT)
    .then((res) => res.json())
    .then((d) => d.assets);

const assets = objects.map((p) => ({
  name: p.path,
  url: `${import.meta.env.PUBLIC_WORKER_ENDPOINT}${p.path}`,
  uploadedAt: new Date(p.uploadedAt),
  isVideo: p.type.includes("video"),
}));
---

<Layout title="Marceline">
  <main class="cats">
    {
      assets
        .sort((a, b) => +b.uploadedAt - +a.uploadedAt)
        .map(({ name, url, isVideo }) =>
          isVideo ? (
            <video class="rounded-lg" src={url} autoplay loop playsinline>
              <track kind="captions" />
            </video>
          ) : (
            <Image
              class="rounded-lg"
              width={300}
              height={300}
              format="jpeg"
              loading="lazy"
              src={url}
              alt={`Marceline named as ${name}`}
            />
          )
        )
    }
  </main>
</Layout>

<style>
  main {
    padding: 10%;
    background-color: #2e2e2e;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
  }

  .cats {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    overflow-y: auto;
    padding: 3em 1em;
  }

  img,
  video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 300px;
  }
</style>
